/* Global styles */
body {
  color: #232323;
  font-family:Arial, Verdana, sans-serif;
  font-size:12px;
}

a,
a:link,
a:visited {
  color: #232323;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #B91222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-bottom: 5px;
	margin: 10px 0;
	font-family: Arial, Verdana, sans-serif;
}

h1 {
	font-size: 18px;
	font-weight:bold
	padding-top:15px;
	color:#4B4B4B;
}
h1 a{
	color:#4B4B4B;
}

h2 {
	font-size: 16px;
	font-weight:bold;
	padding-left: 5px;
	color:#4B4B4B;
}

h3 { 
   font-size: 80%;
}

h4 {
	font-size:  75%;
}
h5 {
	font-size:  60%;
}
h6 {
	font-size:  15px;
}
.site-slogan {
    font-family: Arial;
	font-weight: normal;
	font-size:  15px;
	margin-left:-200px;
	margin-top:50px;
	padding-top:5px;
	color:#B91222;
	letter-spacing: 1px;
}

p {
  text-align:justify;
}

/* Panels */
h1.page-title {
	font-size: 18px;
	font-weight:bold;
	margin-top:10px;
	float:left;
}

/* Blocks */
.pane-block,
.block {
  border: none;
  padding:5px;
}

h2.block-title,
h2.pane-title {
	font-size: 14px;
	font-weight:bold;
	border-bottom:1px solid #E6E7E8;
}

h2.node-title {
	font-size: 16px;
}
h2.node-title a,
h2.node-title a:link,
h2.node-title a:visited {
  color: #B91222;
}
h2.node-title a:hover,
h2.node-title a:focus {
  text-decoration: underline;
}
td, th {
    vertical-align: top;
}

img {
    padding: 5px;
}

.block { 
  word-wrap: break-word;
}

#block-system-main {
  border: 0;
}
/* Breadcrumb */
.breadcrumb {
  font-size:13px;
}

/* Breadcrumb color */
.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
  color: #B91222;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
  text-decoration: underline;
}

/* Language dropdown block */
#region-user-first {
  min-height: 1px;
}
#block-locale-language .language-switcher-locale-url{
	list-style-type:none;
}
/* Search form 

#block-search-api-page-search-page */

#block-search-api-page-search-page .form-text {
	height:24px;
	width:180px;
	padding:2px;
	background:#E6E7E8 url(../images/search.png) no-repeat right;
	border:#E6E7E8;
	color:#232323;
	font-size:12px;
	font-weight:normal;
}
#block-search-api-page-search-page .form-submit {
	display:none;
}

.form-item, .form-actions {
    display: inline;
}

#block-lang-dropdown-language {
  border: 0;
  display: inline-block;
}

.dd_icon_right .ddTitle {
  background: none;
}

.dd_icon_right .ddChild a.selected,
.dd_icon_right .ddChild a:hover {
  background-color: #B91222;
}

/* User login block and logged in block */
#block-user-login,
#block-logintoboggan-logintoboggan-logged-in {
  border: 0;
  text-align: right;
  float: right;
}


/* Sticky footer */
html, body {
  height: 100%;
}

#page {
  min-height: 100%;
  position: relative;
}

#section-content {
  z-index: 0;
  position: relative;
  padding-bottom: 150px;
}

#zone-postscript-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}
#zone-postscript-wrapper .block-title{
	font-size:12px;
	font-weight:bold;
	border-bottom:none;
}
#zone-postscript-wrapper p{
	text-align:left;
}
/* Change followo us icon */
a.follow-link-this-site {
    background-image: url("../../../../../misc/feed.png");
	background-position: 0 5px}


/* Main menu */
#zone-menu {
  margin-top: 1em;
  border-bottom: solid 1px #E6E7E8;
}

#zone-menu a,
#zone-menu a:link,
#zone-menu a:visited {
  color: #4B4B4B;
  font-size:12px;
  font-family:Arial, Verdana, sans-serif;
}
#zone-menu a:hover,
#zone-menu a:focus {
  color: #B91222;
}

#block-system-main-menu {
  border: none;
  border-radius: 0;
}

#block-system-main-menu h2 {
  display: none;
}

#zone-menu .navigation > li,
#block-system-main-menu > .block-inner > .content > ul.menu > li {
  margin: 0 1px;
  float: left;
  list-style-type: none;
  list-style-image: none;
}

#block-system-main-menu > .block-inner > .content > ul.menu > li.collapsed,
#block-system-main-menu > .block-inner > .content > ul.menu > li.expanded {
  list-style-image: url("../../../../../misc/menu-expanded.png");
  list-style-position: inside;
  list-style-type: circle;
}

#zone-menu .navigation li a,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a {
  float: left;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0.8em;
  text-decoration: none;
  padding-bottom: 15px;
  font-size:14px;
  font-weight:bold;
}

#block-system-main-menu ul.menu li ul.menu { 
  background-color: #fff;
  z-index: 1;
  position: absolute;
  min-width:110px;
  top: 3.4em;
  border: solid 1px #E6E7E8;
  border-top: 0;
  display: none;
}

#block-system-main-menu ul.menu li ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#zone-menu .navigation li a.active,
#zone-menu .navigation li a:hover,
#zone-menu .navigation li a:focus,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a.active,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a:hover {
  background-color: #FFFFFF;
  font-family:Arial, Verdana, sans-serif;
  color: #B91222;
  border-bottom: solid 4px #B91222;
  padding-bottom: 11px;
}

/* Postscript zone */
#zone-postscript {
  border-top: solid 3px #E6E7E8;
}

#zone-postscript .block,
#zone-postscript .pane-block {
  border: 0;
}
/* Customize view in Links (footer)
#view-links {
	text-align:left;			
}

/* Hide page title in home page */
.front #page-title {
  display: none;
}

/* Customize panels on homepage (.panels-flexible-column-inside)*/
.panels-flexible-column-new-2 {
    float: left;
    width: 65%;
}

.pane-documents-panel-pane-9,
.pane-maps-view-panel-pane-3,
.pane-documents-panel-pane-8 {			/* border, height and padding */
    border: 1px solid #E6E7E8;
	height: 200px;
    padding: 0 10px 10px;
}

.panels-flexible-column-new-2 .views-field-field-doc-thumbnail,
.panels-flexible-column-new-2 .views-field-field-document-thumbnail{	
	margin:auto;
    text-align: center;	
}

/* Customize all views */
.field-items {
	padding-bottom: 10px;
}

.field-name-field-news-image {			/* align image on the left */
	float:left;
	padding-right: 20px;
}
/* Customize view in document*/
#block-system-main .submitted {			/* to not display "submitted"*/
  display: none;
}

/* Customize view-content*/
#block-system-main .view-content .views-row {				/* to display line dotted for views items*/
  border-bottom: 1px dotted #A5977A;
  padding-bottom:5px;
  padding-top:5px;
  margin-left:inherit;
  list-style: none;
}

#block-system-main .view-content .views-row-last {			/* to not display line dotted for last views item*/
  border-bottom: none;
}
#views_slideshow_cycle_main_media-panel_pane_2 .views-row {		/* to not display line dotted for image item*/
  border-bottom: none;
}

/* Customize view in map center*/
#block-system-main .view-maps-view .view-content table {			
  border: none;
}

/* Customize Pane-blocks on right sidebar*/

#block-views-clusters-block .block-inner {
	padding:5px;
	margin-top:55px;
	border:solid 1px #E6E7E8;
}

/* Customize Pane-blocks on right sidebar*/

.panels-flexible-region-new-right .pane-views-panes {
	padding:5px;
	margin-bottom:14px;
	margin-top:5px;
	border:solid 0.2em #B91222;
}
.panels-flexible-column-new-6 .pane-views-panes {
	padding-left:5px;
	padding-right: 5px;
	margin-bottom:14px;
	border:solid 1px #E6E7E8;
}
.panels-flexible-column-new-4 {
    float: left;
    width: 75%;
}
.panels-flexible-column-new-6 {
    float: left;
    width: 25%;
}

.panels-flexible-region-new-right .pane-views-panes .pane-title{
	font-weight:bold;
}
.pane-media-panel-pane-1 table{
	border:none;
}
.pane-media-panel-pane-1 img{
	width:100%;
	height:80%;
}
.panels-flexible-region-new-right .more-link a{ 	/* Customize More link on right sidebar*/
    border-top:2px solid #B91222;
	border-left: 2px solid #B91222;
	border-bottom:3px solid #fff;
	border-right: 3px solid #fff;
    margin-right: -7px;
    padding: 2px 8px 6px;
}
.node-links ul li a, .comment-links ul li a {
    background: none;
    border: none;
    color: #666666;
    text-transform: none;
	font: bold 11px Arial,sans-serif;
    margin: 0 -0.5em -0.5em 0;
    padding: 3px 5px 2px;
}

.pager {									/*Customize pagers*/
    background: none;
    border-color: #DDDDDD;
}
.pager li {											
    color: #232323;
    font: normal 12px Arial,sans-serif;
    outline: 0 none;
}
/*
.container-12 .grid-9 {						/*To maintain container width in % for intern pages
    width: 72%;
}
.pager {
    border-color: #DDDDDD #BBBBBB #999999;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
}


*/