/* Global styles */
body {
  color: #232323;
  font-family:Arial, Verdana, sans-serif;
  font-size:12px;
}

a,
a:link,
a:visited {
  color: #232323;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #B91222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-bottom: 5px;
	margin: 10px 0;
	font-family: Arial, Verdana, sans-serif;
}

h1 {
	font-size: 18px;
	font-weight:bold
	padding-top:15px;
	color:#4B4B4B;
}
h1 a{
	color:#4B4B4B;
}

h2 {
	font-size: 16px;
	font-weight:bold;
	padding-left: 5px;
	color:#4B4B4B;
}

h3 { 
   font-size: 80%;
}

h4 {
	font-size:  75%;
}
h5 {
	font-size:  60%;
}
h6 {
	font-size:  15px;
}
.site-slogan {
    font-family: Arial;
	font-weight: normal;
	font-size:  15px;
	margin-left:-200px;
	margin-top:50px;
	padding-top:5px;
	color:#B91222;
	letter-spacing: 1px;
}

p {
  text-align:justify;
}

/* Panels */
h1.page-title {
	font-size: 18px;
	font-weight:bold;
	margin-top:10px;
	float:left;
}

/* Blocks */
.pane-block,
.block {
  border: none;
  padding:5px;
}

h2.block-title,
h2.pane-title {
	font-size: 14px;
	font-weight:bold;
	border-bottom:1px solid #E6E7E8;
}

h2.node-title {
	font-size: 16px;
}
h2.node-title a,
h2.node-title a:link,
h2.node-title a:visited {
  color: #B91222;
}
h2.node-title a:hover,
h2.node-title a:focus {
  text-decoration: underline;
}
table, td, th {
    vertical-align: top;
	border:none;
}

img {
    padding: 5px;
}

.block { 
  word-wrap: break-word;
}

#block-system-main {
  border: 0;
}
/* Breadcrumb */
.breadcrumb {
  font-size:13px;
}

/* Breadcrumb color */
.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
  color: #B91222;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
  text-decoration: underline;
}

/* Language dropdown block */
#region-user-first {
  min-height: 1px;
}
#block-locale-language .language-switcher-locale-url{
	list-style-type:none;
}
/* Search form 

#block-search-api-page-search-page */
#region-user-second {
  float: right;
  margin-top: -50px;
  overflow: hidden;
  text-align: right;
  top: 50px;
  z-index: 2;
}
.search-form {
	margin-bottom:0;
}
#edit-search-block-form--2 {
	padding:2px;
	background:#E6E7E8;
	border:1px solid #ccc;
	color:#232323;
	font-size:12px;
	font-weight:normal;
}
#search-block-form .form-actions input {
  margin-right: 0;
}
/*
.form-item, .form-actions {
    display: inline;
}*/

#block-lang-dropdown-language {
  border: 0;
  display: inline-block;
}

.dd_icon_right .ddTitle {
  background: none;
}

.dd_icon_right .ddChild a.selected,
.dd_icon_right .ddChild a:hover {
  background-color: #B91222;
}

/* User login block and logged in block */
#block-user-login,
#block-logintoboggan-logintoboggan-logged-in {
  border: 0;
  text-align: right;
}

#block-user-login h2.block-title {
  display: none;
}

/* Sticky footer */
html, body {
  height: 100%;
}

#page {
  min-height: 100%;
  position: relative;
}

#section-content {
  z-index: 0;
  position: relative;
  padding-bottom: 150px;
}

#zone-postscript-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}
#zone-postscript-wrapper .block-title{
	font-size:12px;
	font-weight:bold;
	border-bottom:none;
	padding:0px;
}
#zone-postscript-wrapper p{
	text-align:left;
}
/* Change followo us icon */
a.follow-link-this-site {
    background-image: url("../../../../../misc/feed.png");
	background-position: 0 5px}


/* Main menu */
#zone-menu {
  border-bottom: solid 1px #E6E7E8;
}

#zone-menu a,
#zone-menu a:link,
#zone-menu a:visited {
  color: #4B4B4B;
  font-size:12px;
  font-family:Arial, Verdana, sans-serif;
}
#zone-menu a:hover,
#zone-menu a:focus {
  color: #B91222;
}

#block-system-main-menu {
  border: none;
  border-radius: 0;
}

#block-system-main-menu h2 {
  display: none;
}

#zone-menu .navigation > li,
#block-system-main-menu > .block-inner > .content > ul.menu > li {
  margin: 0 1px;
  float: left;
  list-style-type: none;
  list-style-image: none;
}

#block-system-main-menu > .block-inner > .content > ul.menu > li.collapsed,
#block-system-main-menu > .block-inner > .content > ul.menu > li.expanded {
  list-style-image: url("../../../../../misc/menu-expanded.png");
  list-style-position: inside;
  list-style-type: circle;
}

#zone-menu .navigation li a,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a {
  float: left;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0.8em;
  text-decoration: none;
  padding-bottom: 15px;
  font-size:14px;
  font-weight:bold;
}

#block-system-main-menu ul.menu li ul.menu { 
  background-color: #fff;
  z-index: 1;
  position: absolute;
  min-width:110px;
  top: 3.4em;
  border: solid 1px #E6E7E8;
  border-top: 0;
  display: none;
}

#block-system-main-menu ul.menu li ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#zone-menu .navigation li a.active,
#zone-menu .navigation li a:hover,
#zone-menu .navigation li a:focus,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a.active,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a.active-trail,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a:hover {
  background-color: #FFFFFF;
  font-family:Arial, Verdana, sans-serif;
  color: #B91222;
  border-bottom: solid 4px #B91222;
  padding-bottom: 11px;
}

/* Postscript zone */
#zone-postscript {
  border-top: solid 3px #E6E7E8;
  float:right;
}

#zone-postscript .block,
#zone-postscript .pane-block {
  border: 0;
}

/* Hide page title in home page */
.front #page-title {
  display: none;
}

/* Customize panels on homepage (.panels-flexible-column-inside)*/
.panels-flexible-column-new-2 {
    float: left;
    width: 65%;
}

.pane-documents-panel-pane-9,
.pane-maps-view-panel-pane-3,
.pane-documents-panel-pane-8 {			/* border, height and padding */
    border: 1px solid #E6E7E8;
	height: 200px;
    padding: 0 10px 10px;
}

.panels-flexible-column-new-2 .views-field-field-doc-thumbnail,
.panels-flexible-column-new-2 .views-field-field-document-thumbnail{	
	margin:auto;
    text-align: center;	
}

/* Customize all views */
.field-items {
	padding-bottom: 10px;
}

.field-name-field-news-image {			/* align image on the left */
	float:left;
	padding-right: 20px;
}
/* Customize view in document*/
#block-system-main .submitted {			/* to not display "submitted"*/
  display: none;
}

block-system-main .feed-icon img{			/* to display feed-icon on right*/
  float: right;
}

/* Customize view-content*/
#block-system-main .view-content .views-row {				/* to display line dotted for views items*/
  border-bottom: 1px dotted #A5977A;
  padding-bottom:5px;
  padding-top:5px;
  margin-left:inherit;
  list-style: none;
}

#block-system-main .view-content .views-row-last {			/* to not display line dotted for last views item*/
  border-bottom: none;
}

/*#views_slideshow_cycle_teaser_section_media-panel_pane_2 {
    width: 70%;
	height:50%;
}*/
#views_slideshow_cycle_main_media-panel_pane_2 {
    max-width: 754px;
	height:408px;
	overflow:hidden;
}
#views_slideshow_cycle_main_media-panel_pane_2 img{
    padding: 0px;

}
.gallery-title {
position: absolute;
top:352px;
width: 100%;
height:50px;
background:#E6E7E8;
text-align:left;
padding-left:10px;
filter:alpha(opacity=90); 
opacity:0.9085;
-moz-opacity:0.90;
overflow:hidden;
}

/* Customize CLUSTER icons*/
.panels-flexible-row-new-13-inside img{
	width:30px;
	height:30px;
	float:left;
	padding:0px;
}


/* Customize Pane-blocks on left and right sidebar*/

.panels-flexible-row-new-14-inside img{ 			/* Customize calendar-COD on right sidebar*/
	width:40px;
	height:40px;
	float:left;
}
.panels-flexible-row-new-14-inside p{ 			
	text-align:left;
}
.panels-flexible-row-new-14-inside a, 
.panels-flexible-row-new-14-inside a:link, 
.panels-flexible-row-new-14-inside a:visited {
    color: #B91222;
}
.panels-flexible-region-new-right .pane-views-panes {
	padding:5px;
	margin-bottom:14px;
	margin-top:5px;
	border:solid 0.2em #E6E7E8;
}

.panels-flexible-region-new-right .pane-documents-panel-pane-7 {/* Customize Key documents block*/

	border:0.2em solid #B91222;
    background: #F2EEED;
}
.pane-documents-panel-pane-7 h2.pane-title{
	color:#B91222;
	border-bottom: 1px solid #B91222;
}

.panels-flexible-region-new-right .more-link a{ 			/* Customize More link on right sidebar*/
    border-top:2px solid #E6E7E8;
	border-left: 2px solid #E6E7E8;
	border-bottom:3px solid #fff;
	border-right: 3px solid #fff;
    margin-right: -7px;
    padding: 2px 8px 6px;
}
.node-links ul li a, .comment-links ul li a {
    background: none;
    border: none;
    color: #666666;
    text-transform: none;
	font: bold 11px Arial,sans-serif;
    margin: 0 -0.5em -0.5em 0;
    padding: 3px 5px 2px;
}

.panels-flexible-column-new-6 .pane-views-panes {		/* Customize internal pages/right sidebar*/
	padding-left:5px;
	padding-right: 5px;
	margin-bottom:14px;
	border:solid 1px #E6E7E8;
}
.panels-flexible-column-new-4 {
    float: left;
    width: 70%;
}
.panels-flexible-column-new-6 {
    float: left;
    width: 30%;
}
#block-views-clusters-block .block-inner {			/* Customize Cluster menu for internal pages*/
	padding:5px;
	margin-top:55px;
	border:solid 1px #E6E7E8;
}
#block-menu-menu-cluster .block-inner{				/* Customize Cluster sub-menu for internal pages*/
	padding-left:5px;
	padding-right: 5px;
	margin-bottom:14px;
	border:solid 1px #E6E7E8;
}

#block-menu-menu-cluster ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
#block-menu-menu-cluster ul.menu li {
    margin: 0 0 0 0;
}

#block-views-funding-block .block-inner{			/* Customize Funding block menu for internal pages*/
	padding-left:5px;
	padding-right: 5px;
	margin-bottom:14px;
	border:solid 1px #E6E7E8;
}

.panels-flexible-region-new-right .pane-views-panes .pane-title{
	font-weight:bold;
}
.pane-media-panel-pane-1 img{
	width:100%;
	height:80%;
}

#region-sidebar-second {							/* Customize filter on right sidebar*/
	background:#E6E7E8;
	border:O.1em solid #ccc;
	margin-bottom:10px;
}

#region-sidebar-second h2.block-title{
	background:#F4F8F7;
}

#region-sidebar-second .item-list ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}

.view-maps-view .views-field-field-doc-thumbnail img{	/* Customize map page*/
	float:left;
}
.pane-maps-view-panel-pane-3 .views-field-field-doc-thumbnail img {
    float: none;
}
/*.view-id-clusters .views-row{
	min-height:50px;
}*/

.view-id-clusters .item-list ul li img{
	width:50px;
	height:50px;
}

.pager {									/*Customize pagers*/
	background: #E6E7E8;
    border:none;
}
.pager li {											
    color: #232323;
    font: normal 12px Arial,sans-serif;
}
.pager li a{											
	background:none;
}
.item-list .pager li, .item-list .pager ul li {
    float: inherit;
}
.item-list .pager {
	margin-top:15px;
}
.pager li.pager-first a, 
.pager li.pager-previous a, 
.pager li.pager-next a, 
.pager li.pager-last a {
    width: 60px;
}

/* Customize Assessment registry*/

.view-assessment-registry table, 
.view-assessment-registry td, 
.view-assessment-registry th {
	border:solid 1px #E6E7E8;
	width:100%;
}
.view-assessment-registry thead {
	font-weight:bold;
	color:#232323;
}

.field .field-label {
	font-size:14px;
	font-weight:bold;
}
.field .field-item {
	text-align:justify;
	margin-left:10px;
}
.field-collection-view .field-label {
	font-size:12px;
	font-weight:bold;
	margin-left:10px;
	width:100%;
	color:#666666;

}
.field-collection-container {
	border-bottom: none;
	margin-bottom: 0px;
}

/* CUSTOMIZE INDICATOR REGISTRY

 /*Customize Filter*/
 
#block-views-exp-indicator-registry-page {
	max-width: 250px;
	margin-top: 5px;
}
#block-views-exp-indicator-registry-page h2.block-title {
	font-size:18px;
}


 /*Customize Form*/

.view-indicator-registry table, 
.view-indicator-registry td, 
.view-indicator-registry th {
	border:solid 1px #E6E7E8;
}
.view-indicator-registry thead {
	font-weight:bold;
	color:#232323;
}
.view-indicator-registry .views-field-nid {
	width:100px;
}
.field-collection-view {
	padding: 0;
	margin: 0;
}
.field-type-list-text {
	padding: 0;
	margin: 0;
}


/* Humanitarian Profile view */
.view-humanitarian-profile .field-label {
  font-weight: normal;
}

.view-humanitarian-profile .field-items {
  float: right;
  padding-bottom: 0;
}

.view-humanitarian-profile .field-name-field-humprofile-affected div,
.view-humanitarian-profile .field-name-field-humprofile-dis-poeple div,
.view-humanitarian-profile .field-name-field-humprofile-non-dis-people div,
.view-humanitarian-profile .field-name-field-humprofile-cas-people .field-label,
.view-humanitarian-profile .field-name-field-humprofile-assistance .field-label {
  font-weight: bold;
}

.view-humanitarian-profile .field-collection-item-field-humprofile-displaced,
.view-humanitarian-profile .field-collection-item-field-humprofile-non-displaced,
.view-humanitarian-profile .field-name-field-humprofile-idp,
.view-humanitarian-profile .field-name-field-humprofile-refugee,
.view-humanitarian-profile .field-name-field-humprofile-others,
.view-humanitarian-profile .field-name-field-humprofile-host,
.view-humanitarian-profile .field-name-field-humprofile-non-host,
.view-humanitarian-profile .field-name-field-humprofile-dead,
.view-humanitarian-profile .field-name-field-humprofile-missing,
.view-humanitarian-profile .field-name-field-humprofile-injured {
  margin-left: 1em;
}
