/* Global styles */
body {
  color: #232323;
}

a,
a:link,
a:visited {
  color: #B91222;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

/* Blocks */
.pane-block,
.block {
  border: solid 1px #E6E7E8;
}

h2.block-title,
h2.pane-title {
  font-weight: normal;
}

#block-system-main {
  border: 0;
}

/* Language block */
#region-user-first {
  min-height: 1px;
}

#block-locale-language {
  border: none;
  text-align: right;
}

#block-locale-language h2 {
  display: none;
}

#block-locale-language li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}

/* Sticky footer */
html, body {
  height: 100%;
}

#page {
  min-height: 100%;
  position: relative;
}

#section-content {
  padding-bottom: 150px;
}

#zone-postscript-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

/* Main menu */
#zone-menu {
  margin-top: 1em;
  border-bottom: solid 1px #E6E7E8;
}

#zone-menu a,
#zone-menu a:link,
#zone-menu a:visited {
  color: #232323;
}

#block-system-main-menu {
  border: none;
  border-radius: 0;
}

#block-system-main-menu h2 {
  display: none;
}

#zone-menu .navigation > li,
#block-system-main-menu > .block-inner > .content > ul.menu > li {
  margin: 0 1px;
  float: left;
  list-style-type: none;
  list-style-image: none;
}

#block-system-main-menu > .block-inner > .content > ul.menu > li.collapsed,
#block-system-main-menu > .block-inner > .content > ul.menu > li.expanded {
  list-style-image: url("../../../../../misc/menu-expanded.png");
  list-style-position: inside;
  list-style-type: circle;
}

#zone-menu .navigation li a,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a {
  float: left;
  height: 1.4em;
  line-height: 1.4em;
  padding: 0 0.8em;
  text-decoration: none;
  padding-bottom: 15px;
}

#block-system-main-menu ul.menu li ul.menu {
  z-index: 1;
  position: absolute;
  top: 2.8em;
  background-color: #fff;
  border: solid 2px #E6E7E8;
  border-top: 0;
  display: none;
}

#block-system-main-menu ul.menu li ul.menu li {
  list-style-type: none;
  list-style-image: none;
}

#zone-menu .navigation li a.active,
#zone-menu .navigation li a:hover,
#zone-menu .navigation li a:focus,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a.active,
#block-system-main-menu > .block-inner > .content > ul.menu > li > a:hover {
  background-color: #FFFFFF;
  color: #B91222;
  border-bottom: solid 4px #B91222;
  padding-bottom: 11px;
}

/* Postscript zone */
#zone-postscript {
  border-top: solid 3px #E6E7E8;
}

#zone-postscript .block,
#zone-postscript .pane-block {
  border: 0;
}

/* Hide page title in home page */
.front #page-title {
  display: none;
}
