/* Using larger screen (more than 1024 px)
This file will hold styles that are loaded using the same media query as the wide grid. */

.front #block-views-news-block-2 {
  height: auto;
}

.front #block-views-documents-documents-home-key .view-empty,
.front #block-views-documents-documents-home-key .view-content,
.front #block-views-events-block-2 .view-content,
.front #block-views-events-block-2 .view-empty {
  height: 200px;
}

/*#block-views-documents-documents-home-rep .block-inner,
#block-views-maps-view-visuals-home .block-inner,
#block-views-documents-documents-home-feat .block-inner {
  height: 350px;
}*/

#block-views-documents-documents-home-rep .view-empty,
#block-views-documents-documents-home-rep .view-content,
#block-views-maps-view-visuals-home .view-empty,
#block-views-maps-view-visuals-home .view-content,
#block-views-documents-documents-home-feat .view-empty,
#block-views-documents-documents-home-feat .view-content {
  height: 290px;
}
