/* Using larger screen (more than 1024 px)
This file will hold styles that are loaded using the same media query as the wide grid. */

.front .views_slideshow_main {
  height: 234px;
}

/*#block-views-documents-documents-home-feat,
#block-views-maps-view-visuals-home {
  margin-top: 244px;
  position: absolute;
  top: 0;
}*/
