/* Using 1024px screen 
This file will hold styles that are loaded using the same media query as the normal grid. */

/* Search form and user login */

#region-user-second {
  float: right;
  margin-top: -50px;
  overflow: hidden;
  text-align: right;
  top: 50px;
  z-index: 2;
}

/* Front page */
#block-views-documents-documents-home-key .view-empty,
#block-views-documents-documents-home-key .view-content {
  height: 150px;
}

.front .views_slideshow_main {
  height: 228px;
}

#block-views-documents-documents-home-rep .block-inner,
#block-views-maps-view-visuals-home .block-inner,
#block-views-documents-documents-home-feat .block-inner {
  height: 350px;
}

#block-views-documents-documents-home-rep .view-empty,
#block-views-documents-documents-home-rep .view-content,
#block-views-maps-view-visuals-home .view-empty,
#block-views-maps-view-visuals-home .view-content,
#block-views-documents-documents-home-feat .view-empty,
#block-views-documents-documents-home-feat .view-content {
  height: 310px;
}
