/* Using larger screen (more than 1024 px)
This file will hold styles that are loaded using the same media query as the wide grid. */

.front .views_slideshow_main {
  height: 234px;
}

#block-views-documents-documents-home-key .view-empty,
#block-views-documents-documents-home-key .view-content {
  height: 165px;
}

#block-views-documents-documents-home-key {
  margin-bottom: 5px;
}
