/* Using 1024px screen 
This file will hold styles that are loaded using the same media query as the normal grid. */

/* Search form and user login */

#region-user-second {
  float: right;
  margin-top: -50px;
  overflow: hidden;
  text-align: right;
  top: 50px;
  z-index: 2;
}
