/* Default style for website appearance
This file will hold styles that are loaded using the same media query as the narrow grid. */

/* Show main menu */
#block-superfish-1 {
  display: block;
}

/* Hide select menu */
#main-menu-mobile {
  display: none;
}

/* Front page */
/*#block-views-documents-documents-home-key .view-empty,
#block-views-documents-documents-home-key .view-content {
  height: 220px;
}

#block-views-documents-documents-home-rep .block-inner,
#block-views-maps-view-visuals-home .block-inner,
#block-views-documents-documents-home-feat .block-inner {
  height: 455px;
}

#block-views-documents-documents-home-rep .view-empty,
#block-views-documents-documents-home-rep .view-content,
#block-views-maps-view-visuals-home .view-empty,
#block-views-maps-view-visuals-home .view-content,
#block-views-documents-documents-home-feat .view-empty,
#block-views-documents-documents-home-feat .view-content {
  height: 415px;
}*/
