.print-logo, .print-site_name, .print-breadcrumb, .view-calendar .pager, .print-hr, .view-calendar .feed-icon {
  display: none;
}

.view-calendar .view-header {
  background-image: url('../logo.png');
  background-repeat: no-repeat;
  background-position: right top;
}

