
/* BLOCKS */
.front #section-content .block,
.context-locations.page-taxonomy-term #section-content .block,
.context-clusters.page-taxonomy-term #section-content .block,
.context-sectors.page-taxonomy-term #section-content .block {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  margin-bottom: 10px;
}

.front #region-sidebar-first .block,
.context-locations.page-taxonomy-term #region-sidebar-first .block,
.context-clusters.page-taxonomy-term #region-sidebar-first .block,
.context-sectors.page-taxonomy-term #region-sidebar-first .block {
  padding: 5px;
  max-height: 300px;
  overflow: auto;
}

.front #region-sidebar-second .block,
.front #region-content .block,
.context-locations.page-taxonomy-term #region-sidebar-second .block, 
.context-locations.page-taxonomy-term #region-content .block,
.context-clusters.page-taxonomy-term #region-sidebar-second .block, 
.context-clusters.page-taxonomy-term #region-content .block,
.context-sectors.page-taxonomy-term #region-sidebar-second .block, 
.context-sectors.page-taxonomy-term #region-content .block {
  padding: 10px;
  height: 300px;
  box-shadow: 5px 5px 5px #f1f1f1;
  behavior: url(../pie/PIE.htc);
}

.block-delta-blocks {
  border: none !important;
}

.front #region-sidebar-first .block a,
.context-locations.page-taxonomy-term #region-sidebar-first .block a,
.context-clusters.page-taxonomy-term #region-sidebar-first .block a,
.context-sectors.page-taxonomy-term #region-sidebar-first .block a {
  color: #B91222;
  padding-left: 3px;
}

/*Block views*/
/*add height on all content for block views*/
.front #region-sidebar-second .block .view-content,
.front #region-content .block .view-content,
.context-locations.page-taxonomy-term #region-sidebar-second .block .view-content,
.context-locations.page-taxonomy-term #region-content .block .view-content,
.context-clusters.page-taxonomy-term #region-sidebar-second .block .view-content,
.context-clusters.page-taxonomy-term #region-content .block .view-content,
.context-sectors.page-taxonomy-term #region-sidebar-second .block .view-content,
.context-sectors.page-taxonomy-term #region-content .block .view-content {
  height: 250px;
}

.front .visualization-chart,
.context-locations.page-taxonomy-term .visualization-chart,
.context-clusters.page-taxonomy-term .visualization-chart,
.context-sectors.page-taxonomy-term .visualization-chart {
  height: 240px;
}

/*align .more-link on all block views*/
.front #region-sidebar-second .block .more-link,
.front #region-content .block .more-link,
.context-locations.page-taxonomy-term #region-sidebar-second .block .more-link, 
.context-locations.page-taxonomy-term #region-content .block .more-link,
.context-clusters.page-taxonomy-term #region-sidebar-second .block .more-link, 
.context-clusters.page-taxonomy-term #region-content .block .more-link,
.context-sectors.page-taxonomy-term #region-sidebar-second .block .more-link, 
.context-sectors.page-taxonomy-term #region-content .block .more-link {
  margin-top: auto;
  margin-bottom: auto;
}

/* REGION CONTENT SECOND */
.front #region-content-second .block-boxes,
.context-locations.page-taxonomy-term #region-content-second .block-boxes {
  background-color: #FDFC8F;
  font-size: medium;
  border-radius: 10px;
  height: 55px;
  behavior: url(../pie/PIE.htc);
}

.front #region-content-second p,
.context-locations.page-taxonomy-term #region-content-second p {
  text-align: center;
  padding-top: 15px;
}


/* CUSTOM ADDITIONS */
.front #region-sidebar-first #page-title {
  display: block !important;
}

.front #zone-content a,
.front #zone-content a:link,
.front #zone-content a:visited {
  color: #B91222 !important;
}

/* Customize view-content*/
.front #region-sidebar-first .view-content .views-row {
  border-bottom: none;
  padding-bottom:0;
  padding-top:0;
  margin-left:inherit;
  list-style: none;
}

