// Menu
// Styles for Menus and Navs
// --------------------------------------------------

// Hide titles of menu blocks
.block-menu h2,
.block-menu-block h2,
.block-og-menu h2,
.block-locale h2 {
	display: none;
}

#block-system-main-menu ul.menu li ul {
	display: none;
}

#block-system-main-menu ul.menu li.active-trail ul {
	display: inline-block;
}


.navbar {
	min-height: 0;
}

.nav-tabs {
	margin: 0;
	border-bottom: none;

	> li {

		border: none;

		> a {
			padding: 4px 15px;
			text-transform: uppercase;
			font-weight: 600;
			min-width: 130px;
			text-align: center;
			color: #707070;
			background-color: #C1C1C1;
			background-color: rgba(145, 145, 145, 0.25);
			font-family: Exo;
			font-size: 16px;

			&.active, &:hover {
				color: #bc2e3b;
				background-color: #FFF;
			}
		}

	}

	.open > a, .open > a:focus {
		border: none;
		background: #AEAEAE;
		color: white;
	}
}

.navbar-collapse {
	padding: 0;
}

.navbar-default {
	background-color: transparent;
	border: none;
	margin: 0;
}

.navbar {

	button {
		background-color: #b4b4b4;
		color: white;
		border: 0;
		margin-right: 2px;
		border: none;
	 	@include border-radius(4px);
		font-size: 12px;
		text-transform: uppercase;
		font-size: 11px;
		position: relative;
		top: -2px;
		padding: 6px 15px;

 		&:hover {
			background-color: #BBB;
 		}

		a {
			color: #FFFFFF;
			text-decoration: none
		}
	}

	.btn-group, .btn-group.open {

		button {
			background-color: #aeadad;
			color: white;
			border: 0;
			margin-right: 2px;
			line-height: 1.428571429;
			border: 1px solid rgba(0, 0, 0, 0);
		 	@include border-radius(4px 4px 0 0);
			font-size: 12px;
			text-transform: none;
			position: static;

	 		&:hover {
				background-color: #BBB;
	 		}
		}

	}

	.dropdown-menu {
		margin: 0;
		border: none;
		background: #aeaeae;
	 	@include border-radius(0px);
	 	margin: 0 2px 0 0;

	 	ul, li{

	 		margin: 0;
	 		padding: 0;

		 	a {
		 		color: white;
		 		font-size: 12px;
		 		padding: 2px 16px;
		 		text-decoration: none;
		 		display: block;

		 		&:hover {
					background-color: #BBB;
		 		}
		 	}

 		}

	}

}

.container.header {

	background-color: #FFFFFF;
	padding: 20px 22px 0;
	margin-bottom: 35px;
	min-height: 120px;
	position: relative;

	#navigation {

		left: 10px;
		bottom: 0px;
		position: absolute;
		line-height: 1;
		height: 45px;

		ul.menu {

			position: relative;
			top: 17px;

		 	li {

		 		a {
		 			font-size: 12px;
		 			text-transform: uppercase;
		 			color: #707070;
		 			font-weight: 600;
		 			@include border-radius(0px);
		 			padding: 8px 10px;
		 			padding-bottom: 13px;
					font-family: Exo;

		 			&.active, &:hover {
		 				color: #bc2e3b;
		 				background-color: transparent;
		 				border-bottom: 5px solid #b2b2b2;
		 				border-color: rgba(105,105,105, 0.4);
		 				padding-bottom: 8px;
		 			}

		 		}
	 		

	 			ul {

					li {

						a {
							border: none;
						}

					}

	 			}
		 	}
		}
	}
}
