//
// Styles for Nodes
// --------------------------------------------------

// Follow flag
#block-hr-notifications-hr-follow {
  text-align: center;
}

#block-hr-notifications-hr-follow a {
  color: white !important;
}

// Responsive styles for images
.field-name-body img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

// Content types
.page-node.node-type-hr-document #page-header .title,
.page-node.node-type-hr-infographic #page-header .title,
.page-node.node-type-hr-news #page-header .title,
.page-node.node-type-hr-event #page-header .title,
.page-node.node-type-hr-dataset #page-header .title,
.page-node.node-type-hr-indicator #page-header .title,
.page-node.node-type-hr-contact #page-header .title,
.page-node.node-type-hr-assessment #page-header .title,
.page-node.node-type-hr-office #page-header .title {
  display: none;
}

.node-full.node-hr-document,
.node-full.node-hr-infographic,
.node-full.node-hr-news,
.node-full.node-hr-event,
.node-full.node-hr-dataset,
.node-full.node-hr-indicator,
.node-full.node-hr-contact,
.node-full.node-hr-assessment,
.node-full.node-hr-office {

  padding-bottom: 10px;

  .container {
    background-color: #F9F9F9;
    border: 1px solid #FFF;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-right: 5px solid $p-comp;
    
    .row {
      overflow: hidden;

      .content {
        min-height: 400px;
        .panel-separator {
          display: inline-block;
        }

        .pane-node-title {
          border-bottom: 1px dotted #8f8f8f;

          h2 {
            font-size: 18px;
            font-weight: bold;
            background: url(../images/RECT_generic.png) no-repeat left top rgba(0, 0, 0, 0);
            color: $p-comp;
            padding: 20px 20px 20px 79px;
          }
        }

        .pane-node-hr-core-share-button,
        .pane-node-field-files-collection {
          display: inline-block;
        }

        .field-name-field-users-ref .content {
          min-height: 0;
        }
      }

      .sidebar {
        margin-bottom: -99999px;
        padding: 0;
        padding-bottom: 99999px;
        background-color: #F1F1F1;

        .panel-pane {
          padding-bottom: 2em;
          border-bottom: 1px dotted #8f8f8f;

          .field-label,
          .pane-title {
            color: #8f8f8f;
            font-weight: normal;
            font-size: 12px;
          }

          .field-item,
          .pane-content {
            padding-left: 10px;
            font-size: 12px;
            color: #555555;
            font-weight: bold;
            a {
              color: #55B1C8;
            }
          }

          &.pane-node-og-group-ref {
            background-color: #E0E0E0;
          }
        }
      }
    }
  }

  &.node-hr-news .container {
    .row .content .pane-node-title h2 {
      background-image: url(../images/RECT_blog.png);
    }
  }

  &.node-hr-document .container {
    border-right: 5px solid $p-documents;
    .row .content .pane-node-title h2 {
      background-image: url(../images/RECT_documents.png);
      color: $p-documents;
    }
  }

  &.node-hr-infographic .container {
    border-right: 5px solid $p-visuals;
    .row .content .pane-node-title h2 {
      background-image: url(../images/RECT_visuals.png);
      color: $p-visuals;
    }
  }

  &.node-hr-event .container {
    border-right: 5px solid $p-events;
    .row .content .pane-node-title h2 {
      background-image: url(../images/RECT_events.png);
      color: $p-events;
    }
  }

  &.node-hr-contact .container {
    border-right: 5px solid $p-contacts;
    .row .content .pane-node-title h2 {
      background-image: url(../images/RECT_contacts.png);
      color: $p-contacts;
    }
  }

  &.node-hr-assessment .container {
    border-right: 5px solid $p-assessments;
    .row .content .pane-node-title h2 {
      background-image: url(../images/RECT_assessments.png);
      color: $p-assessments;
    }
  }
}

// Search results

.node-search-result {

        background-color: #F9F9F9;
        border: 1px solid #FFF;
        margin: 1%;
        padding: 0;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px !important;
        position: relative;

        &:after {
                content: '';
                background-color: $p-comp;
                display: block;
                width: 5px;
                height: 10px;
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
        }

        > h2 {
                font-size: 16px;
                font-weight: bold;
                background: url(../images/RECT_generic.png) no-repeat left top rgba(0, 0, 0, 0);
                padding: 20px 20px 20px 79px;
                margin-left: 18px;
                margin-top: 16px;

                a {
                        color: $p-comp;
                }
        }

	&.node-hr-news {
                h2 {
                        background-image: url(../images/RECT_blog.png);
                }
        }

        &.node-hr-document {
                h2 {
                        background-image: url(../images/RECT_documents.png);
                        a {
                                color: $p-documents;
                        }
                }
                &:after {
                        background-color: $p-documents;
                }
        }
        &.node-hr-event {
                h2 {
                        background-image: url(../images/RECT_events.png);
                        a {
                                color: $p-events;
                        }
                }
                &:after {
                        background-color: $p-events;
                }
        }
        &.node-hr-infographic {
                h2 {
                        background-image: url(../images/RECT_visuals.png);
                        a {
                                color: $p-visuals;
                        }
                }
                &:after {
                        background-color: $p-visuals;
                }
        }
	&.node-hr-contact {
                h2 {
                        background-image: url(../images/RECT_contacts.png);
                        a {
                                color: $p-contacts;
                        }
                }
                &:after {
                        background-color: $p-contacts;
                }
        }

	&.node-hr-assessment {
                h2 {
                        background-image: url(../images/RECT_assessments.png);
                        a {
                                color: $p-assessments;
                        }
                }
                &:after {
                        background-color: $p-assessments;
                }
        }

        .row {

                margin: 0;

                &:after {
                        clear: both;
                }

                .panel-panel {

                        &.left {
                                padding: 0;
                                margin: 20px 0;

                                img {
                                        border: 4px solid #FFF;
                                        float: left;
                                        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
                                        margin-top: -18px;
                                        margin-left: 18px;
                                        line-height: 0;
                                }

                                .view {
                                        margin: 0 !important;
                                }
                        }

                        &.right {
                                width: 83%;
                        }
                        .panel-pane {

                                margin-bottom: 5px;

                                .btn-group {
                                        float: right;

                                        .dropdown-menu {
                                                margin-top: -16px;
                                                margin-left: 6px;
                                                font-size: 11px;
                                        }
                                }

                                .btn {
                                        float: right;
                                }

                                .field {
                                        .field-label {
                                                color: #8f8f8f;
                                                font-weight: normal;
                                                width: 130px;
                                                display: inline-block;
                                                *display: inline;
                                                *zoom: 1;
                                        }
                                        .field-items {
                                                color: #606060;
                                        }
                                }

                }

                }
        }

}

/*.pane-node-hr-core-share-button .btn,
.pane-node-field-files-collection .btn,
.views-field-field-files-collection .btn {
  background-color: #DDD;
  margin-left: 16px;
  border: 0;
  font-size: 12px;
  padding: 3px 10px;
  margin-bottom: 18px;
  color: #333333;
}

.pane-node-field-files-collection .btn,
.views-field-files-collection .btn {
  background-color: $brand-primary;
  color: #ffffff;
}*/
