//
// Styles for individual pages
// --------------------------------------------------
@import "compass/layout/sticky-footer";

@include sticky-footer(150px);

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Tahoma;
}

html,
body {
	height: 100%;
	#header {
		margin-top: 0;
	}
	#footer {
		margin: 0;
	}
}

body {
	background: url(../images/bg_noise.png) repeat top left #cccccc;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}

#root {
	background: url(../images/bg_deg.png) repeat-y top left transparent;
	padding: 10px 0 0;
}

a {
	color: $p-main;

	&:hover {
		color: darken($p-main, 10%);
		text-decoration: none;
	}
}

.chosen-container.form-control {
	width: 793px;
	border: 0;
	background: none;
	padding: 0px 0px;
	height: 22px;
}

body div.messages {
	border: 0;
	padding: 11px 15px;
	background-image: none;
	@include border-radius(4px);
	color: white;
	@include text-shadow(rgba(black, 0.4) 0px 1px 0);
	font-weight: bold;

	&.status {
		background: $p-visuals;
	}

	&.warning {
		background: $p-events;
	}

	&.error {
		background: $p-main;
	}
}

//pager

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
	background-color: $p-main;
	border-color: $p-main;
}

.pagination > li > a, .pagination > li > span {
	color: $p-main;
}

.pagination > li > a:hover {
	color: darken($p-main, 10%);
}

.item-list ul.pagination > li a,
.item-list ul.pagination > li span {
	@include border-radius(4px);
}

//table

body table, body .table {

	&.table-bordered {
		border-color: white;
	}

	thead {

		tr {

			border: 0;

			th, .ui-widget-header {
				border: 0;
				color: white;
				background-color: $p-comp;
				background-image: none;
				padding: 8px;
			}
		}
	}

	tbody {

		border: 0;

		tr {

			border: 0;

			td {
				border: 0;
				border-color: #FFFFFF;
			}

		}
	}
}



// Front page
.front {
	#main .container {
		background-image: url('../images/banner_home.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.container.header {
		margin-bottom: 0;
	}

	#content-wrapper {
		margin-top: 110px;
	}
}


#content {
	padding: 0;
}

// Divers
.thumbnail {
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 1.428571429;
	background-color: #FFF;
	border: none;
	border-radius: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	@include box-shadow(rgba(black, 0.2) 1px 2px 2px);

	p {
		margin: 0;
	}

	.caption {
		text-align:center;
		background-color: #494949;
		text-transform: uppercase;
		font-weight: bold;
		color:white;
	}
}


#footer {

	min-height: 210px;

	.container {

		background-color: #F8F8F8;
		height: 100%;
		padding-top: 1em;
		min-height: 210px;

		.col-sm-6 {

			.col-sm-3 {
				img {
					margin: 10px;
					max-width: 100px;
					max-height: 45px;
				}
			}

		}
	}
	
}

.page-header {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	color: $p-comp;
	font-weight: bold;
}

$h1: 28px;

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h1*0.85;
}

h3 {
	font-size: $h1*0.7;
}

h4 {
	font-size: $h1*0.55;
}

h5 {
	font-size: $h1*0.4;
}

h6 {
	font-size: $h1*0.25;
}

.view-content.row {
	margin: 0;
}

body .region-branding {

	input {

		&.form-text {
			padding: 2px 4px;
			font-size: 12px;
			border-radius: 0;
			background: rgba(0,0,0,0.1) !important;
			border: 1px solid white;
			height: auto;
			box-shadow: 0;

			&:focus {
				border-color: $p-main;
				outline: 0 none;
				box-shadow: 0;
			}
		}

		&.form-submit {
			border: none;
			padding: 2px 4px;
			text-indent: 999px;
			border-radius: 0;
			background: url(../images/search.png) no-repeat center center rgba(0, 0, 0, 0);
			width: 30px;
			margin: 0;
			position: relative;
			top: 21px;
			left: -54px;
			margin-top: 0 !important;
		}

	}

}


//search
#block-current-search-hr-current-search {
	h2 {
		display: none;
	}
}




