//
// Styles for individual pages
// --------------------------------------------------
@import "compass/layout/sticky-footer";

@include sticky-footer(150px);

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Tahoma;
}

html,
body {
	height: 100%;
	#header {
		margin-top: 0;
	}
	#footer {
		margin: 0;
	}
}

body {
	background: url(../images/bg_noise.png) repeat top left #cccccc;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
}

#root {
	background: url(../images/bg_deg.png) repeat-y top left transparent;
	padding: 10px 0;
}

a {
	color: $p-main;

	&:hover {
		color: darken($p-main, 10%);
		text-decoration: none;
	}
}

.chosen-container.form-control {
	width: 793px;
	border: 0;
	background: none;
	padding: 0px 0px;
	height: 22px;
}

body div.messages {
	border: 0;
	padding: 11px 15px;
	background-image: none;
	@include border-radius(4px);
	color: white;
	@include text-shadow(rgba(black, 0.4) 0px 1px 0);
	font-weight: bold;

	&.status {
		background: $p-visuals;
	}

	&.warning {
		background: $p-events;
	}

	&.error {
		background: $p-main;
	}
}

//pager

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
	background-color: $p-main;
	border-color: $p-main;
}

.pagination > li > a, .pagination > li > span {
	color: $p-main;
}

.pagination > li > a:hover {
	color: darken($p-main, 10%);
}

.item-list ul.pagination > li a,
.item-list ul.pagination > li span {
	@include border-radius(4px);
}

//table

body table, body .table {

	&.table-bordered {
		border-color: white;
	}

	thead {

		tr {

			border: 0;

			th {
				border: 0;
				color: white;
				background-color: $p-comp;
			}
		}
	}

	tbody {

		border: 0;

		tr {

			border: 0;

			td {
				border: 0;
				border-color: #FFFFFF;
			}

		}
	}
}

#footer {
	.container {
		background-color: #F8F8F8;
		height: 100%;
		padding-top: 1em;
	}
}

// Front page
.front {
	#main .container {
		background-image: url('../images/banner_home.png');
		background-repeat: no-repeat;
		background-size: 100%;
	}

	.container.header {
		margin-bottom: 0;
	}

	#content-wrapper {
		margin-top: 110px;
	}
}

