//
// Styles for individual pages
// --------------------------------------------------
@import "compass/layout/sticky-footer";
@import "compass/utilities/sprites";
@import "footer-logos/*.png";

@include sticky-footer(210px);
@include all-footer-logos-sprites;

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
input,
select {
	font-family: $font-family-sans-serif;
}

html,
body {
	height: 100%;
	#header {
		margin-top: 0;
	}
	#footer {
		margin: 0;
	}
}

body {
	background: url(../images/BG_ocha.png) repeat-y top center #FFFFFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $font-size-base;
}

.container-outer.header {
	background-color: #FFF;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px;
	position: relative;
}

#front-banner {
	background: url("../images/banner_home.png") repeat-x center center white;
	height: 104px;
}

#root {
	padding: 10px 0 0;
}

a {
	color: $p-main;
	word-wrap: break-word;

	&:hover {
		color: darken($p-main, 10%);
	}

	.region-content & {
		color: $p-comp;
		font-weight: bold;
	}

	&.btn {
		color: white;
		&.btn-default {
			color: #333;
		}
	}
}

p {
	margin: 0 0 20px;
}

.chosen-container.form-control {
	width: 793px;
	border: 0;
	background: none;
	padding: 0px 0px;
	height: 22px;
}

body div.messages {
	border: 0;
	padding: 11px 15px;
	background-image: none;
	@include border-radius(4px);
	color: white;
	@include text-shadow(rgba(black, 0.4) 0px 1px 0);
	font-weight: bold;

	&.status {
		background: $p-visuals;
	}

	&.warning {
		background: $p-events;
	}

	&.error {
		background: $p-main;
	}
}

//pager

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
	background-color: $p-main;
	border-color: $p-main;
}

.pagination > li > a, .pagination > li > span {
	color: $p-main;
}

.pagination > li > a:hover {
	color: darken($p-main, 10%);
}

.item-list ul.pagination > li a,
.item-list ul.pagination > li span {
	@include border-radius(4px);
}

//table

body table, body .table {

	table-layout: fixed;
	word-wrap: break-word;

	&.table-bordered {
		border-color: white;
	}

	thead {

		tr {

			border: 0;

			th, .ui-widget-header {
				border: 0;
				color: white;
				background-color: $p-comp;
				background-image: none;
				padding: 8px;
			}
		}
	}

	tbody {

		border: 0;

		tr {

			border: 0;

			td {
				border: 0;
				border-color: #FFFFFF;
			}

		}
	}
}

.form-item table {
	table-layout: auto;
}


// Front page
.front {

	.container.header {
		margin-bottom: 0;
	}
}


#content {
	padding: 0;
}

// Divers

.thumbnail {
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	line-height: 1.428571429;
	background-color: #FFF;
	border: none;
	border-radius: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	@include box-shadow(rgba(black, 0.2) 1px 2px 2px);

	p {
		margin: 0;
	}

	.caption {
		text-align:center;
		background-color: #494949;
		text-transform: uppercase;
		font-weight: bold;
		color:white;
		padding-left: 0;
		padding-right: 0;

		@media screen and (max-width: $screen-lg) {
			font-size: 10px;
		}
	}
}


#footer {
	background-color: #F8F8F8;

	@media screen and (max-width: $screen-md) {
		height: auto;
	}

	.container {

		padding-bottom: 20px;
		padding-top: 1em;

		#footer-second {
			img {
				margin: 10px;
				max-width: 100%;
				max-height: 45px;
			}
			@media screen and (max-width: $screen-md) {
				.col-md-3 {
					float: left;
					.column {
						width: 105px;
						float: left;
					}
				}
			}
		}

		#footer-third {
			@media screen and (max-width: $screen-md) {
				clear: both;
				&:after {
					clear: both;
					content:'';
				}
			}
		}

		.footer-logo {
			margin: 10px;
			height: 40px;
			opacity: 1;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.page-header {
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	color: $p-comp;
	font-weight: bold;
}

$h1: 28px;

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h1*0.85;
}

h3 {
	font-size: $h1*0.7;
}

h4 {
	font-size: $h1*0.55;
}

h5 {
	font-size: $h1*0.4;
}

h6 {
	font-size: $h1*0.25;
}

.view-content.row {
	margin: 0;
}

body .region-branding {

	width: 100%;

	.block {
		position: absolute;
		top: 0;
		right: 0;

		@media screen and (max-width: $screen-sm) {
			right: auto;
			left: 35px;
			width: 252px;
			top: 45px;
		}
	}

	input {

		&.form-text {
			font-size: 12px;
			background: rgba(0,0,0,0.1) !important;
			width: 260px;
			float: right;
			@media screen and (max-width: $screen-sm) {
				width: 215px;
			}

			&:focus {
				border-color: $p-main;
				//outline: 0 none;
				//box-shadow: 0;
			}
		}

		/*&.form-submit {
			border: none;
			padding: 2px 4px;
			text-indent: 999px;
			border-radius: 0;
			background: url(../images/search.png) no-repeat center center rgba(0, 0, 0, 0);
			width: 30px;
			margin: 0;
			position: relative;
			top: 21px;
			left: -54px;
			margin-top: 0 !important;
		}*/

	}

}

//search
#block-current-search-hr-current-search {
	h2 {
		display: none;
	}
}

//openlayer map
.openlayers-tooltip-name {
	font-family: Exo;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px dotted #FFF;
	margin-bottom: 5px;
	padding-bottom: 3px;
}
.openlayers-tooltip-description strong {
	color: #a6a6a6;
	font-weight: normal;
}
#popup a {
	color: white;
}
#popup a:hover {
	color: darken(white, 10%);
}

.page-operations {
	.hr-highlighted {
		margin-top: 0;
	}
}

//liens homepage
.front .radix-moscone-flipped .col-md-12  {
	.col-sm-2 {
		.thumbnail {
			position: relative;
			a {
				display: block;
				height: 100%;
				overflow: hidden;
				img {
					@include transition(all 0.2s ease-in-out);
					@include scale(1, 1);
				}
				&:hover {
					img {
						@include scale(1.12, 1.12);
					}
				}
			}
			.caption {

			}
		}
	}
}


