//
// Styles for panels and panes.
// --------------------------------------------------

.panel-panel {

	&.right {
		
		.pane-title {
			font-size: 12px;
			color: #bc2e3b;
			border-bottom: 1px dotted #bc2e3b;
		}

	}

}