//
// Styles for panels and panes.
// --------------------------------------------------

.panel-panel {

	&.right {

		.panel-pane {
			
			margin-bottom: 30px;

			.pane-title {
				font-size: 13px;
				color: #BC2E3B;
				border-bottom: 1px dotted #BC2E3B;
				text-transform: uppercase;
				font-weight: bold;
				padding-bottom: 7px;
				margin-bottom: 20px;
			}

		}
		

	}

}