//
// Styles for panels and panes.
// --------------------------------------------------
@import "compass/utilities/sprites";
@import "icons/38/Clusters/grey/*.png";
@import "icons/38/Clusters/*.png";

.panel-panel {

	&.right {

		.panel-pane {
			
			margin-bottom: 30px;

			.pane-title {
				font-size: 13px;
				color: $p-main;
				border-bottom: 1px dotted $p-main;
				text-transform: uppercase;
				font-weight: bold;
				padding-bottom: 7px;
				margin-bottom: 20px;
			}

		}
		

	}

}



.hr-highlighted {
	background-color: #F9F9F9;
	padding: 7px;
	border: 1px solid #FFF;
	@include box-shadow(rgba(black, 0.2) 1px 2px 2px);
	margin: 20px 0px;

	.pane-tite {
		font-size: 13px;
		text-transform: uppercase;
		font-weight: bold;
		padding-bottom: 7px;
		margin-bottom: 10px;
		border-bottom: 1px dotted #dedede;
		margin-top: 2px;
	}

	.pane-content {
		padding: 0 7px;

		ul {
			padding-left: 14px;
			color: $p-comp;
		}
	}
}

// Hide radio inputs in layer switcher to replace by images
#hr-bundles-layer-switcher {

  .baseLbl,
  .baseLayersDiv,
  .dataLbl,
  br,
  span,
  input.olButton {
    display: none !important;
  }

  label.olButton {
    cursor: pointer;
  }

  .dataLayersDiv {
    text-align: center;
  }

  input[type="checkbox"] + label {
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
  }

  input[name="Camp Coordination / Management"] + label {
    @include grey-sprite(cccm);
  }

  input[name="Camp Coordination / Management"]:checked + label,
  input[name="Camp Coordination / Management"] + label:hover {
    @include Clusters-sprite(cccm);
  }

  input[name="Early Recovery"] + label {
    @include grey-sprite(early-recovery);
  }

  input[name="Early Recovery"]:checked + label,
  input[name="Early Recovery"] + label:hover {
    @include Clusters-sprite(early-recovery);
  }

  input[name="Education"] + label {
    @include grey-sprite(education);
  }

  input[name="Education"]:checked + label,
  input[name="Education"] + label:hover {
    @include Clusters-sprite(education);
  }

  input[name="Emergency Shelter and NFI"] + label {
    @include grey-sprite(shelters);
  }

  input[name="Emergency Shelter and NFI"]:checked + label,
  input[name="Emergency Shelter and NFI"] + label:hover {
    @include Clusters-sprite(shelters);
  }

  input[name="Food Security"] + label {
    @include grey-sprite(food-security);
  }

  input[name="Food Security"]:checked + label,
  input[name="Food Security"] + label:hover {
    @include Clusters-sprite(food-security);
  }

  input[name="Health"] + label {
    @include grey-sprite(health);
  }

  input[name="Health"]:checked + label,
  input[name="Health"] + label:hover {
    @include Clusters-sprite(health);
  }

  input[name="Logistics"] + label {
    @include grey-sprite(logistics);
  }

  input[name="Logistics"]:checked + label,
  input[name="Logistics"] + label:hover {
    @include Clusters-sprite(logistics);
  }

  input[name="Nutrition"] + label {
    @include grey-sprite(nutrition);
  }

  input[name="Nutrition"]:checked + label,
  input[name="Nutrition"] + label:hover {
    @include Clusters-sprite(nutrition);
  }

  input[name="Protection"] + label {
    @include grey-sprite(protection);
  }

  input[name="Protection"]:checked + label,
  input[name="Protection"] + label:hover {
    @include Clusters-sprite(protection);
  }


  input[name="Water Sanitation Hygiene"] + label {
    @include grey-sprite(wash);
  }

  input[name="Water Sanitation Hygiene"]:checked + label,
  input[name="Water Sanitation Hygiene"] + label:hover {
    @include Clusters-sprite(wash);
  }

  input[name="Emergency Telecommunications"] + label {
    @include grey-sprite(emergency-telecommunications);
  }

  input[name="Emergency Telecommunications"]:checked + label,
  input[name="Emergency Telecommunications"] + label:hover {
    @include Clusters-sprite(emergency-telecommunications);
  }
}

